@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for dark mode */
body {
  @apply bg-gray-900 text-white; /* Set dark background and light text */
}

input:focus {
  outline: none; /* Remove the default outline */
  box-shadow: none; /* Remove any box shadow */
}
